body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.searchSection,
.resultsSection,
.savedSection {
  width: 80vw;
  height: 100%;
  background-color: #aaa;
  color: white;
  margin: 5px 15%;
  padding: 15px;
}
